:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

mat-card {
  width: 320px;

  form {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
  }

  button {
    width: 100%;
  }
}

